<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="cnx"
             providerName="System.Data.SqlClient"
             connectionString="Server=DESKTOP-V7TEUFT\SQLEXPRESS;Database=PeliculasApiV1;User Id=sa;Password=sql;TrustServerCertificate=true;" />
    </connectionStrings>
</configuration>